.container {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.info-head {
    display: inline;
    font-weight: normal;
}

#avatar {
    padding: 20px;
    margin-right: 30px;
    margin-left: 60px;
}

.av {
    width: 300px;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    transition: all .3s ease;
}

.info {
    padding: 10px;
    margin-left: 30px;
    margin-right: 50px;

}

.info-link, .info-link:active {
    text-decoration: none;
    color: #A264DB;
  }

.info-link:hover {
    text-decoration: underline;
}

.home-text {
    max-width: 800px;
}

.proj-img {
    width: 450px;
    height: 200px;
    margin-top: 15px;
    object-fit: cover;
    transition: all .3s ease;
}

.tag {
    border-radius: 10px;
    border: none; 
    padding: 5px 8px 5px 8px;
    background-color: #d4acf8;
    font-weight: 700;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.divider {
    width:10px;
    height:auto;
    display:inline-block;
}

.project-col {
    padding: 30px;
    padding-top: 0;
    max-width: 450px;
}

@media (max-width: 800px) {
    .project-col {
        flex-direction: column;
    }

    .container {
        padding: 5px;
    }
}