.container {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.info-head {
    display: inline;
    font-weight: normal;
}

#avatar {
    padding: 20px;
    margin-right: 30px;
    margin-left: 60px;
}

.av {
    width: 300px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    transition: all .3s ease;
}

.hover-glow:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgb(168, 167, 165);
    -moz-box-shadow: 0px 0px 20px 0px rgb(168, 167, 165);
    box-shadow: 0px 0px 20px 0px rgb(168, 167, 165);
    transition: all .3s ease;
}

.info {
    padding: 10px;
    margin-left: 30px;
    margin-right: 50px;

}

.info-link, .info-link:active {
    text-decoration: none;
    color: #A264DB;
  }

.info-link:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5em;
}

.home-text {
    max-width: 800px;
}

.project-col {
    padding: 30px;
    padding-top: 0;
    max-width: 500px;
}

.proj-img {
    width: 500px;
    height: 200px;
    margin-top: 15px;
    object-fit: cover;
    transition: all .3s ease;
}

.tag {
    border-radius: 10px;
    border: none; 
    padding: 5px 8px 5px 8px;
    background-color: #d4acf8;
    font-weight: 700;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

@media all and (max-width:800px)
{
    .project-col
    {
        display: block; 
        float: none; 
        width: 100%;
    }
}