.container {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.info-head {
    display: inline;
    font-weight: normal;
}

#avatar {
    padding: 20px;
    margin-right: 30px;
    margin-left: 60px;
}

.av {
    width: 300px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    transition: all .3s ease;
}

.hover-glow:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgb(168, 167, 165);
    -moz-box-shadow: 0px 0px 20px 0px rgb(168, 167, 165);
    box-shadow: 0px 0px 20px 0px rgb(168, 167, 165);
    transition: all .3s ease;
}


.info {
    padding: 10px;
    margin-left: 30px;
    margin-right: 50px;

}

.info-link, .info-link:active {
    text-decoration: none;
    color: #A264DB;
  }

  .info-link:hover {
    text-decoration: underline;
  }

p {
    line-height: 1.5em;
}

.home-text {
    max-width: 800px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
}   

.project {
    padding: 30px;
    padding-top: 0;
    max-width: 400px;
}

/* Header Style */

header {
    margin-top: 10px;
    padding: 10px;
    font-size: larger;
}

header h1 {
    text-align: center;
    font-weight: normal;
    letter-spacing: 3px;
}

.proj-info {
    padding: 10px 0px 15px 0px;
}

.proj-img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    transition: all .3s ease;
}

.tag {
    border-radius: 10px;
    border: none; 
    padding: 5px;
    background-color: #d4acf8;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

/* Navbar Style */

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: black;
    transition: color .2s ease-out, background 1s ease-in;
}

nav a:hover,
nav a:active {
    color: #A264DB;
}

.active {
    color: #A264DB;
}

nav ul {
    padding-inline-start: 0px;
}

nav li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}


/* Footer Style */

.footer {
    display: flex;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.iconify-inline {
    margin-right: 10px;
}

#copyright {
    margin-left: auto;
    padding-right: 50px;
    margin-top: 15px;
}